101 DIALOG 65, 15, 179, 62
STYLE DS_SYSMODAL | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "Password"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 10, "Arial"
{
   CONTROL "", 1000, EDIT, ES_LEFT | ES_PASSWORD | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 19, 18, 138, 14 
   CONTROL "&Ok", 1, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 19, 40, 50, 14 
   CONTROL "&Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 40, 50, 14 
   CONTROL "Enter Password:", 1001, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 20, 4, 138, 10 
}

