#include "ZipMsg.h"

STRINGTABLE {

  GE_FatalZip,       "Error fatal en ZIPDLL.DLL: abortar"
  GE_NoZipSpecified, "Error - ¡No se ha especificado archivo ZIP!"
  GE_NoMem,          "No hay memoria disponible"
  GE_WrongPassword,  "Error - Las claves no coinciden\nClave ignorada"
  GE_CopyFile,       "Copiando: "

  RN_ZipSFXData,     "Error copiando la cabecera del autoextraíble"
  RN_NoRenOnSpan,    "El renombramiento en archivos subdivididos no está implementado"
  RN_ProcessFile,    "Procesando: "
  RN_RenameTo,       " renombrado como: "
  RN_InvalidDateTime "Fecha/hora inválida para el archivo: "

  PW_UnatAddPWMiss,  "Error - No se ha especificado clave al añadir"
  PW_UnatExtPWMiss,  "Error - No se ha especificado clave de extracción"
  PW_Ok,             "&Aceptar"
  PW_Cancel,         "&Cancelar"
  PW_Caption,        "Clave"
  PW_MessageEnter,	 "Introduzca clave "
  PW_MessageConfirm, "Confirme clave "
  PW_CancelAll,      "Cancela todo"
  PW_Abort,          "Abortar"
  PW_ForFile,        " para archivo: "

  CF_SourceIsDest,	 "¡El archivo origen es el mismo que el archivo destino!"
  CF_OverwriteYN,    "Reescribir archivo '%s' en '%s' ?"
  CF_CopyFailed,     "La copia de '%s' a '%s' ha fallado"
  CF_SourceNotFound, "¡El archivo '%s' no se encuentra en '%s'!"
  CF_SFXCopyError,	 "Error copiando los datos del autoextraíble"
  CF_DestFileNoOpen, "¡Imposible abrir el archivo ZIP de destino!"
  CF_NoCopyOnSpan,   "CopyZippedFiles no está implementado para archivos subdivididos"

  LI_ReadZipError,   "¡Error de búsqueda leyendo archivo ZIP!"
  LI_ErrorUnknown,   "Error desconocido en función List()\n"
  LI_WrongZipStruct, "Aviso - ¡Error en la esctructura del ZIP!"
  LI_GarbageAtEOF,   "Aviso - ¡Datos inesperados al final del archivo ZIP!"

  AD_NothingToZip,   "Error - ¡No hay archivos que comprimir!"
  AD_UnattPassword,  "Acción automática imposible sin especificar la clave"
  AD_NoFreshenUpdate,"Actualizar o modificar no es posible en archivos subdivididos"
  AD_AutoSFXWrong,	 "Se ha producido un error %.1d durante la autoextracción."
  AD_NoStreamDLL,    "Error - su ZIPDLL.DLL no puede usar streams. Utilice una version >= 1.60"
  AD_InIsOutStream,  "El stream de entrada no puede asignarse al de salida"
  AD_InvalidName,    "No se permiten comodines en la especificaci¢n del archivo" 
  AD_NoDestDir       "¡Debe existir el directorio de destino '%s'!"

  DL_NothingToDel,   "Error - No se han seccionado archivos para borrar"
  DL_NoDelOnSpan,    "El borrado de archivos no est  implementado para archivos subdivididos"

  EX_FatalUnZip,     "Error fatal en UNZDLL.DLL: abortar"
  EX_UnAttPassword,  "Aviso - Extracción automática: Es posible que no se extraigan todos los ficheros"
  EX_NoStreamDLL,    "Error - Su librería UNZDLL.dll no permite el uso de streams. Por favor, actualícela a la versión >= 1.60"

  LZ_ZipDllLoaded,   "Librería ZIPDLL cargada"
  LZ_NoZipDllExec,   "Función ZipDllExec no encontrada en ZIPDLL.DLL"
  LZ_NoZipDllVers,   "Función GetZipDllVersion no encontrada en ZIPDLL.DLL"
  LZ_NoZipDll,       "¡Librería ZIPDLL.DLL no encontrada!"
  LZ_OldZipDll,      "Intento de carga de una versi¢n antigua de ZIPDLL desde "
  LZ_ZipDllUnloaded, "ZIPDLL descargada"

  LU_UnzDllLoaded,   "Librería UNZDLL cargada"
  LU_NoUnzDllExec,   "Función UnzDllExec no encontrada en UNZDLL.DLL"
  LU_NoUnzDllVers,   "Función GetUnzDllVersion no encontrada en UNZDLL.DLL"
  LU_NoUnzDll,       "¡Librería UNZDLL.DLL no encontrada!"
  LU_OldUnzDll,      "Intento de carga de una versi¢n antigua de UNZDLL desde "
  LU_UnzDllUnloaded, "UNZDLL descargada"

  SF_StringToLong,   "Error - ¡Una o más de las cuatro cadenas de propiedades detalladas exceden los 255 caracteres!"
  SF_NoZipSFXBin,    "Error - ¡No se encuentra el archivo ZIPSFX.BIN!"
  SF_InputIsNoZip,   "Error: El archivo de entrada no es un archivo ZIP"
  SF_NoSFXSupport,   "Funciones SFX no soportadas"

  CZ_NoExeSpecified, "Error - No se ha especificado archivo .EXE"
  CZ_InputNotExe,    "Error: El archivo de entrada no es un archivo ejecutable"
  CZ_SFXTypeUnknown, "Error determininando el tipo de archivo autoextraíble"

  DS_NoInFile,       "El archivo de entrada no existe"
  DS_FileOpen,       "El archivo ZIP no se puede abrir"
  DS_NotaDrive,      "Unidad no válida: %s"
  DS_DriveNoMount,   "La unidad %s no está definida"
  DS_NoVolume,       "No se puede establecer la etiqueta del volumen"
  DS_NoMem,          "No hay memoria suficiente para mostrar ventanas de mensajes"
  DS_Canceled,       "Operación cancelada por el usuario"
  DS_FailedSeek,     "Error de búsqueda en archivo de entrada"
  DS_NoOutFile,      "Fallo durante la creación del archivo de salida"
  DS_NoWrite,        "Error escribiendo archivo de salida"
  DS_EOCBadRead,     "Error leyendo el final del directorio central"
  DS_LOHBadRead,     "Error leyendo cabecera local"
  DS_CEHBadRead,     "Error leyendo cabecera central"
  DS_LOHWrongSig,    "Encontrada una firma local incorrecta"
  DS_CEHWrongSig,    "Encontrada una firma central incorrecta"
  DS_LONameLen,      "Error leyendo un archivo local"
  DS_CENameLen,      "Error leyendo un archivo central"
  DS_LOExtraLen,     "Error leyendo un campo local extra"
  DS_CEExtraLen,     "Error leyendo un campo central extra"
  DS_DataDesc,       "Error leyendo/escribiendo zona de descripción de datos"
  DS_ZipData,        "Error leyendo datos comprimidos"
  DS_CECommentLen,   "Error leyendo comentario de un archivo"
  DS_EOArchComLen,   "Error leyendo comentario global del archivo"
  DS_ErrorUnknown,   "Error desconocido en función ReadSpan(), WriteSpan(), Rename() o CopyZippedFiles()\n"
  DS_NoUnattSpan,    "La división en múltiples discos automática no está implementada"
  DS_EntryLost,      "Cabecera local no encontrada en la estructura interna"
  DS_NoTempFile,     "No se ha podido crear archivo temporal"
  DS_LOHBadWrite,    "Error escribiendo cabecera local"
  DS_CEHBadWrite,    "Error escribiendo cabecera central"
  DS_EOCBadWrite,    "Error escribiendo final del directorio central"
  DS_ExtWrongSig,    "Error leyendo una firma extendida local"
  DS_NoDiskSpace,    "El disco no tiene suficiente espacio libre disponible"
  DS_InsertDisk,     "Por favor, inserte el último disco"
  DS_InsertVolume,   "Por favor, inserte el volumen %.1d de %.1d"
  DS_InDrive,        "\nen la unidad: %s"
  DS_NoValidZip,     "Este no es un archivo ZIP válido"
  DS_FirstInSet,     "Este es el primer disco del conjunto de la copia de seguridad.\nPor favor, inserte el último disco de dicho conjunto"
  DS_NotLastInSet,   "Este es el disco número %d del conjunto de la copia de seguridad.\nPor favor, inserte el último disco de dicho conjunto"
  DS_AskDeleteFile,  "El archivo %s ya existe\n¿Desea eliminarlo?"
  DS_AskPrevFile,    "¡ATENCION: Este es el disco anterior número %d!\n¿Está seguro de que desea sobreescribir su contenido?"
  DS_NoSFXSpan,      "Error - Los archivos autoextraíbles (.exe) no pueden ser subdivididos"
  DS_CEHBadCopy,     "Error copiando el nombre de fichero de una estructura CEH"
  DS_EOCBadSeek,     "Error de búsqueda mientras se ignoraba una estructura EOC"
  DS_EOCBadCopy,     "Error copiando el comentario del archivo ZIP"
  DS_FirstFileOnHD,  "Este es el primer archivo de un conjunto de copia de seguridad.\nPor favor, inserte el último disco de dicho conjunto"
  DS_InsertAVolume,  "Por favor, inserte el volumen número %.1d"
  DS_CopyCentral,    "Directorio central"
  DS_NoDiskSpan,     "Archivos subdivididos no soportados"

  FM_Erase,          "Se borrará el contenido de "
  FM_Confirm,        "Confirmar"

  ED_SizeToLarge     "El tama¤o de FileExtraData es mayor que la matriz disponible"

  CD_NoCDOnSpan,     "ChangeFileDetails no está implementado para archivos subdivididos"
  CD_NoEventHndlr    "Sin manejador de eventos para el cambio de detalles de archivo"
  CD_LOExtraLen      "Error mientras se escribía un campo local extra"
  CD_CEExtraLen      "Error mientras se escribía un campo central extra"
  CD_CEComLen        "Error mientras se escribía el comentario de un archivo"
  CD_FileName        "Sin nombre de archivo en los cambios de detalles de archivo"
  CD_CEHDataSize     "La longitud de CEH + FileName + FileComment + ExtraData excede de 65535"
  CD_Changing        "Cambiando detalles de: "
  CD_DuplFileName    "Nombre de archivo duplicado \"%s\" en %s" 
  CD_NoProtected     "No se permite cambiar los detalles de un archivo protegido"
  CD_InvalidFileName "Nombre de archivo inválido \"%s\""
  CD_NoChangeDir     "No se puede cambiar \"%s\""
  CD_FileSpecSkip    "%s omitido"

  EX_NoExtrDir       "Debe existir el directorio de extracci¢n '%s'"

  PR_Archive         "*Cambiando bit de archivo"
  PR_CopyZipFile     "*Copiando archivo ZIP"
  PR_SFX             "*SFX"
  PR_Header          "*??"
  PR_Finish          "*Terminando"
  PR_Copying         "*Copiando"
  PR_CentrlDir       "*Directorio central"
  PR_Checking        "*Verificando"

  WZ_DropDirOnly     "Escribiendo %d entradas de directorio vacías"
  WZ_NothingToWrite  "Nada que escribir"

  LD_NoDll           "Imposible cargar %s"
  LD_BadDll          "Imposible cargar %s - Es antigua o corrupta"
  LD_DllLoaded       "Cargada "
  LD_DllUnloaded     "Descargada "

}
